/* GENERAL */

:root {
  --bg-color: rgba(0, 0, 0, 0.911);
  --text-color: white;
  --accent-color: #d1b200;
  --pixel-font: 'VT323', monospace;
  --w-light: 200;
  --w-bold: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.estirar-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.reset {
  margin: 0;
  padding: 0;
}

.mobile-nav {
  text-decoration: none;
  color: black;
}

/* INICIO */

.pixel-font {
  font-family: var(--pixel-font);
}

/* main nav */

.nav-size {
  font-size: 1.9em;
}

.nav-dropdown {
  font-size: 0.9em;
}

.offcanvas-size {
  font-size: 1.1em;
}

.img-nav {
  height: 54px;
}

.dropdown-item:hover {
  text-decoration: underline;
}

.navbar {
  line-height: normal;
}

.coin-icon {
  transition-duration: 150ms;
}

.coin-icon:hover {
  scale: 1.1;
}

/* hero section */

.header-hero {
  position: relative;
  margin: 0;
  padding: 0;
}

.video-hero {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  width: auto;
  overflow: hidden;
  height: 90dvh;
}

.text-hero {
  position: absolute;
  z-index: 20;
  top: 0;
  margin-top: 120px;
  padding-left: 70px;
}

.title-hero {
  font-family: var(--pixel-font);
  font-size: 6em;
  text-shadow: 0 0 8px black;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.subtext-hero {
  font-size: 1.5em;
  text-shadow: 0 0 12px black;
  margin-top: -7px;
  font-weight: var(--w-light);
  padding-left: 8px;
}

.btn-hero {
  margin-top: 10px;
  margin-left: 8px;
  font-weight: 500;
}

.btn-hero:hover {
  text-decoration: underline;
}

/* GALERIA */

.index-galeria-title {
  font-size: 5em;
  text-align: center;
}

.index-galeria-article {
  max-width: 500px;
  text-wrap: balance;
  font-size: 1.1em;
}

.galeria-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
}

.index-galeria-card {
  border: 1px var(--text-color) solid;
  border-radius: 0.375rem;
}

/* CUIDADO, ESTAS TRES SON USADAS EN MUCHOS LUGARES  */

.galeria-control-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.galeria-img {
  flex: 1;
  height: 100%;
}

.control-img {
  height: 100%;
}

.navigation-card {
  background-color: #8a750049;
  border-radius: 5px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-duration: 300ms;
}

.navigation-card a {
  background-color: #f8d300;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition-duration: 300ms;
}

.navigation-card a:hover {
  text-decoration: underline;
  background-color: #d1b200;
}

.index-galeria-card:hover .navigation-card {
  opacity: 1;
}

.index-galeria-subtitle {
  font-size: 2.6em;
}

/* FOOTER */

.estirar-footer {
  margin-top: auto;
}

footer div img {
  max-width: 220px;
}

footer div p {
  color: black;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding: 3px;
  margin-block: 0.6em;
}

footer div p a {
  color: black;
  padding: 0.3em;
}

footer div p a:hover {
  color: var(--text-color);
  background-color: black;
}

/* HISTORIA */

.historia-link,
.historia-link:hover {
  color: #9ac6ff;
}

.historia-p {
  max-width: 750px;
  text-wrap: wrap;
}

.historia-img {
  max-width: 700px;
  margin: 64px 0;
}

.historia-flex {
  flex: 1;
}

/* GALERIA */
.tiposf-img {
  max-width: 420px;
  max-height: 350px;
  overflow: hidden;
  transition: 200ms;
}

.tiposf-img:hover {
  scale: 1.02;
}

.title-size {
  font-size: 4.5em;
}

/* MULTIMEDIA */
.multimedia-p {
  max-width: 520px;
  text-wrap: balance;
}

.multimedia-img {
  max-width: 560px;
  max-height: 315px;
}

.multi-div-yellow {
  border: var(--accent-color) solid 2px;
  border-radius: 10px;
  margin-inline: auto;
  max-width: 600px;
}

.multi-div-gray {
  background-color: rgba(80, 80, 80, 0.774);
  border: solid var(--accent-color) 2px;
  border-radius: 10px;
  margin-inline: auto;
  max-width: 600px;
}

/* DONDE JUGAR */
/* en caba */

.jugar-section {
  position: relative;
}

.jugar-img {
  width: 827px;
}

.jugar-title {
  text-shadow: 0 0 5px black;
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: 600;
}

.jugar-span {
  margin-left: 5px;
}

.jugar-lista {
  margin-block: 5px;
}

.jugar-control-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.jugar-degradado {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7679446778711485) 30%,
    rgba(255, 255, 255, 0) 60%
  );
}

.jugar-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.jugar-nav {
  font-weight: 500;
}

/* CLASICOS */
.clasicos-card {
  max-width: 280px;
}

.clasicos-iframe {
  max-width: 450px;
  margin-block: 8px;
}

.clasicos-card-title {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
}

.clasicos-lista-borde {
  border-bottom: #00000030 solid 1px;
}

.clasicos-modal-title {
  font-size: 3em;
}

.clasicos-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  gap: 16px;
}

.iframe-not-active {
  pointer-events: none;
  cursor: default;
}

/* EXTRAS */
.extras-img {
  max-width: 400px;
}

/* stickers */
.sticker-div {
  max-width: 400px;
  min-height: 400px;
  border: solid #f8d300 2px;
}

/* CONTACTO */
.contacto-form {
  max-width: 850px;
}

/* ALUMNO */

/* clase bootstrap modificada */
.form-floating > label {
  position: absolute;
  top: 0;
  left: 8px;
  z-index: 2;
  height: 100%;
  padding: 1rem 0.75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

/* SPACE INVADERS */

canvas {
  display: none;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

kbd {
  background-color: #ddd;
  color: #000;
  border-style: outset;
  font-size: 0.75em;
  margin-inline: 7px;
}

.game-text-screens {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  border: #d1b200 3px solid;
  width: 500px;
  height: 500px;
  margin-block: auto;
  background-color: #000;
  box-sizing: content-box;
}

.mobile-not-available {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 16px;
}

@keyframes spaceinvader {
  0% {
    left: 15%;
  }

  100% {
    left: calc(75% - 120px);
  }
}

.space-monster {
  position: absolute;
  font-size: 120px;
  animation: spaceinvader 3s ease-in-out 0s infinite alternate;
}

.mobile-not-available-text {
  margin-top: 180px;
}

/* MEDIA QUERYS  */

@media (max-width: 992px) {
  .coin-icon:hover {
    scale: 0;
  }
  .index-invaders-text {
    width: 100%;
  }

  .index-jugar-img .index-invaders-text h4 {
    font-size: 2.5em;
  }

  .multimedia-iframe {
    max-width: 250px;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .header-hero {
    position: static;
    margin: 0;
    padding: 0;
  }

  .title-hero {
    position: static;
    text-shadow: 0 0 3px var(--accent-color);
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .text-hero {
    position: static;
    text-align: center;
    padding: 0;
    margin: 100px auto;
  }

  .estirar-body-movil {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .estirar-margenes-movil {
    margin-block: auto;
  }

  .subtext-hero {
    font-size: 1.5em;
    text-shadow: 0 0 6px var(--accent-color);
    margin-top: -7px;
    font-weight: var(--w-light);
    animation-name: parpadeo;
    animation-duration: 2.2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  .btn-hero {
    margin: 20px 0 0 0;
  }

  .title-size {
    font-size: 3.5em;
  }

  .clasicos-iframe {
    max-width: 320px;
  }

  .jugar-text {
    min-width: 250px;
  }

  .multi-div-yellow {
    border: var(--accent-color) solid 2px;
    border-radius: 10px;
    margin-inline: 2px;
    padding: 5px;
  }

  .multi-div-gray {
    border-radius: 10px;
    margin-inline: 2px;
    padding: 5px;
  }

  .multimedia-img-display {
    display: none;
  }

  .tiposf-img:hover {
    scale: none;
  }

  .modal-not-active {
    pointer-events: none;
    cursor: default;
  }

  .game {
    display: none !important;
  }

  .mobile-not-available {
    display: flex;
  }
}
